@using Realestate_ERP_Dashboard.ViewModels

@model List<Invoice>

@{
    ViewData["Title"] = "Index";
}

<h2> فواتير</h2>

@* <form asp-action="Index" method="get" asp-controller="Instructor" class="mb-4">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" value="@ViewBag.SearchString" placeholder="Search by instructor name">
        <button type="submit" class="btn btn-primary">Search</button>
        @if (!string.IsNullOrEmpty(ViewBag.SearchString))
        {
            <a asp-action="Index" class="btn btn-outline-secondary">back</a>
        }
    </div>
</form> *@

<div class="d-flex align-items-center mb-3">
    <a asp-action="Create" class="btn btn-success list-inline-item">
        <i class="bi bi-plus-circle"></i> إضافة 
    </a>
    <button class="btn btn-warning list-inline-item">طباعه</button>
    <button class="btn btn-danger list-inline-item">PDF</button>
    <button class="btn btn-success">أكسل</button>
</div>

<table class="table table-hover table-bordered text-center">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>العقار</th>
            <th>الشهر</th>
            <th>السنة</th>
            <th>الوحدة</th>
            <th>الكهرباء</th>
            <th>المياه</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Building?.Name</td>
                <td>@item.Month</td>
                <td>@item.Year</td>
                <td>@item.Unit_In_Build</td>
                <td>@item.ElectricityBill</td>
                <td>@item.WaterBill</td>
                <td>
                    <a class="text-primary me-2" title="تعديل" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="text-info" title="عرض" asp-action="Details" asp-route-id="Id">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
}

<nav class="pagination-fixed-bottom">
    <ul class="pagination justify-center mb-0">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">Previous</a>
            </li>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">Next</a>
            </li>
        }
    </ul>
</nav>

